.aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow-y: auto;
    z-index: 2;
    transform: translateX(-100%);
    border: 1px solid #e3e8ee;
    background-color: #F7FAFC;
    height: 100vh;
    min-width: 270px;
}


.aside_title {
    margin: 16px 10.52px 38px 20px;
    display: flex;
    align-items: center;
}

.aside_title div {
    margin: 0px 10.52px 0px 20px;
    font-weight: 500;
    font-size: 16px;
}

.aside_title span {
    width: 28px;
    height: 28px;
    background: #ffffff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 2px 5px rgba(60, 66, 87, 0.08);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside_list {
    padding: 0;
    margin-top: 10px;
    list-style-type: none;
}

.aside_list div {
    padding: 5px 5px 5px 20px;
    color: #1a1f36;
    display: flex;
    height: 17px;
}

.aside_list li {
    margin-left: 15px;
}

.aside_list div:hover {
    background-color: rgb(172, 172, 172);
    cursor: pointer;
}

.fix_side_push {
    margin: 0px 0px 0px 5px;
}

@media only screen and (min-width: 750px) {
    .aside {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 110vh;
        transform: translateX(0);
    }
}