.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    padding: 0 40px;
    border-bottom: 1px solid #E3E8EE;
    height: 57px;
}

.header_search {
    display: flex;
    align-items: center;
}

.header_search span {
    margin-left: 8px;
}

.header_icons {
    display: flex;
}

.header_icons div {
    display: flex;
    margin: 8px;
    width: 16px;
    height: 16px;
}

.header_icons div:hover {
    cursor: pointer;
}

@media only screen and (min-width: 750px) {
    .aside {
        display: flex;
        flex-direction: column;
        position: fixed;
        transform: translateX(0);
    }
}