@font-face {
    font-family: 'SF Pro Text';
    src: url("../fonts/SF-Pro-Text-Light.otf") format('woff2'),
        url("../fonts/SF-Pro-Text-Light.otf") format('woff');
    font-family: 'SF Pro Display';
    src: url("../fonts/SF-Pro-Display-Bold.otf") format('woff2'),
        url("../fonts/SF-Pro-Display-Bold.otf") format('woff');
}

body {
    margin: 0;
    padding: 0;
    color: #1A1F36;
    box-sizing: border-box;
    font-family: 'SF Pro Text', sans-serif;
    font-size: 14px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
        'header'
        'main';
    height: 100%;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.clear_line {
    border-top: 1px solid #E3E8EE;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 16px;
}

.clear_line_charts {
    display: none;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.compare_buttons_group {
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
    align-items: center;
}

.compare_buttons {
    display: flex;
    align-items: center;
    height: 28px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(60, 66, 87, 0.08), 0px 0px 0px 1px rgba(60, 66, 87, 0.16), 0px 1px 1px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 0px 8px 0px 8px;
}

.compare_buttons_past {
    display: flex;
    align-items: center;
    height: 28px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(60, 66, 87, 0.08), 0px 0px 0px 1px rgba(60, 66, 87, 0.16), 0px 1px 1px rgba(0, 0, 0, 0.12);
    border-radius: 4px 0px 0px 4px;
    padding: 0px 10px 0px 10px;
}


.compare_buttons_month {
    display: flex;
    align-items: center;
    height: 28px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(60, 66, 87, 0.08), 0px 0px 0px 1px rgba(60, 66, 87, 0.16), 0px 1px 1px rgba(0, 0, 0, 0.12);
    border-radius: 0px 4px 4px 0px;
    padding: 0px 10px 0px 10px;
}

.compare_buttons_settings {
    margin-right: 40px;
    display: flex;
    align-items: center;
}

.compare_buttons_monthly {
    display: flex;
    align-items: center;
    height: 28px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(60, 66, 87, 0.08), 0px 0px 0px 1px rgba(60, 66, 87, 0.16), 0px 1px 1px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-right: 12px;
    padding: 0px 10px 0px 10px;
}

.icon_right {
    margin-left: 8px;
    cursor: pointer;
}

.icon_left {
    margin-right: 10px;
    cursor: pointer;
}

.compare_to {
    padding: 0px 12px 0px 12px;
}

.aside {
    grid-area: aside;
}

@media only screen and (min-width: 750px) {
    .grid-container {
        display: grid;
        grid-template-columns: 270px 1fr;
        grid-template-rows: 50px 100px 50px;
        grid-template-areas:
            'aside header'
            'aside main';
        height: 100%;
    }
}

@media only screen and (max-width: 900px) {
    .compare_to {
        display: none;
    }

    .compare_buttons_settings {
        display: none;
    }

    .compare_buttons {
        display: none;
    }

    .clear_line_charts {
        display: block;
        border-top: 1px solid #E3E8EE;
        margin-left: 20px;
        margin-right: 30px;
        margin-top: 16px;
        margin-bottom: 37px;
    }
}