.reports_wrapper {
    padding: 0px 0px 0px 0px;
}

.reports_wrapper h1 {
    margin-top: 32px;
    padding-left: 40px;
    font-family: 'SF Pro Display'
}

.filters {
    padding-left: 40px;
}

.reports {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 0px;
}

.report {
    max-height: 200px;
    padding: 20px 40px 0px 40px;
}

.report_chart_data {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    grid-template-areas:
        'title_icons view';
    grid-gap: 0px;
}


.report_title_icons {
    white-space: normal;
    overflow: auto;
    text-overflow: ellipsis;
    display: inline-block;
    grid-area: title_icons;
    max-width: 170%;
}

.report_title {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.report_chart_time_view {
    text-align: right;
    grid-area: view;
}

.report_chart_time>div {
    display: flex;
    margin-bottom: 7px;
    align-items: center;
    width: fit-content;
}

.report_chart_time>div>span {
    margin-left: 7px;
    cursor: pointer;
}

.report_chart_time>span {
    font-size: 20px;
    margin-bottom: 3px;
}

.report_chart_past {
    font-size: 16px;
    color: #697386;
    margin-bottom: 3px;
}

.report.card1 {
    border: none;
    padding-left: 40px;
}

.report.card2 {
    border-left: 1px solid #e3e8ee;
}

.report.card3 {
    border-left: 1px solid #e3e8ee;
}

.report.card4 {
    border-top: 1px solid #e3e8ee;
}

.report.card5 {
    border-top: 1px solid #e3e8ee;
    border-left: 1px solid #e3e8ee;
}

.report.card6 {
    border-top: 1px solid #e3e8ee;
    border-left: 1px solid #e3e8ee;
}

.percent_span {
    width: 41px;
    height: 18px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 8px;
    font-size: 12px;
    padding: 0px 3px 0px 3px;
}

.percent_span.positive {
    background: #cbf4c9;
}

.percent_span.zero {
    background: #e3e8ee;
}

.percent_span.negative {
    background: #f8e5ba;
}

@media only screen and (max-width: 900px) {

    .report.card1 {
        border: none;
        padding: 40px 20px 0px 20px;
    }

    .report.card2 {
        border: none;
    }

    .report.card3 {
        border: none;
    }

    .report.card4 {
        border: none;
    }

    .report.card5 {
        border: none;
    }

    .report.card6 {
        border: none;
    }

    .reports_wrapper h1 {
        padding-left: 15px;
    }

    .filters {
        padding-left: 20px;
    }

    .report {
        max-height: 200px;
        padding: 40px 20px 0px 20px;
    }
}

@media only screen and (max-width: 750px) {
    .reports_wrapper {
        padding: 165px 0px 0px 0px;
    }
}